section.commande {
  display: inline-block;
  line-height: 1px;
  background-color: #818a91;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}
.numero {
  width: 50px; /*largeur du block*/
  height: 45px; /*hauteur du block*/
  font-weight: 700; /*épaisseur du texte*/
  font-size: 18px; /*taille de la police du texte*/
  text-align: center; /*centrer le texte*/
}
.secondbouton {
  display: inline-block;
}

.plus {
  width: 20px; /*largeur du block*/
  height: 20px; /*hauteur du block*/
  background-color: #dc9f96; /*couleur arriére-plan du block*/
  text-align: center; /*aligner l'élément icône*/
  line-height: 25px; /*definir la hauteur de l'élément icône*/
  border-top-right-radius: 14px; /*définir la courbure de la bordure coin en haut à gauche du block*/
  border-bottom: 2px solid #ffffff; /*définir la 
  /*largeur du block*/
  height: 45px; /*hauteur du block*/
  font-weight: 700; /*épaisseur du texte*/
  font-size: 18px; /*taille de la police du texte*/
  text-align: center; /*centrer le texte*/
  color: #ffffff;
}

.boutoncommande2 {
  width: 20px; /*largeur du block*/
  height: 20px; /*hauteur du block*/
  background-color: #dc9f96; /*couleur arriére-plan du block*/
  text-align: center; /*aligner l'élément icône*/
  line-height: 25px; /*definir la hauteur de l'élément icône*/
  border-bottom-right-radius: 14px; /*définir la courbure de la bordure coin en haut à gauche du block*/
}
.moins {
  /*largeur du block*/
  height: 45px; /*hauteur du block*/
  font-weight: 700; /*épaisseur du texte*/
  line-height: 1px;
  font-size: 18px; /*taille de la police du texte*/
  text-align: center; /*centrer le texte*/
  color: #ffffff;
}
